.side-bar
  .header
    .header__box
      .header__box__name
        名前
      %ul.header__box__icon
        %li.list
          = link_to '#' do
            = icon('fa', 'cog',class: 'icon')
        %li.list
          = link_to '#' do
            = icon('fa','edit',class: 'icon')


  .groups
    .group
      .group__name
        れもん
      .group__message
        まだメッセージはありません
    .group
      .group__name
        れもん
      .group__message
        まだメッセージはありません

